*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-size: cover; /* Resmi ekran boyutuna sığdırmak için */
	background-image: url(desktop-wallpaper-green-board.jpg);
}


.image{
	height: 150px;
	width: 25%;
	display: flex;
	margin-top: -8rem;
	margin-left: 3rem;
}
.baslik{
	color: red;
	font-size: 27px;
	margin-top: 5.2rem;
	margin-left: 43rem;

}


.p{
    margin-left: 35rem;
    margin-top: 12rem;
	display: flex;
}  
.p2{
	margin-left: 35rem;
	margin-top: 3rem;
}  
.buton {  
	margin-left: 44rem;
	margin-top: 1rem;
	 width: 8%;
	padding: 10px;
	background-color: #0b0b68;
	color: rgb(251, 244, 244);
	border: none;
	border-radius: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.1s ease-in-out;
}  
.a{
	text-decoration: none;
	color: white;
	transition: all 2s;
}
.buton:hover {
	transform: translate(0px, -5px); 
	animation: titresim 0.5s linear infinite;
}

@keyframes titresim {
	0% {transform: translate(0px, -5px);}
	25% {transform: translate(0px, -10px);}
	50% {transform: translate(0px, -5px);}
	75% {transform: translate(0px, -10px);}
	100% {transform: translate(0px, -5px);}
}
@media screen and (max-width:650px) {
	.game{
		margin-left: -.5rem;
	}
	.image{
		height: 87px;
		margin-left: .5rem;
	}
	.baslik{
	padding: 2rem;
	margin-left: 2rem;
	display: flex;
	}
	.nav{
		height: 110px;
	}
	.p{
		margin-left:6rem;
		display: flex;
		padding: 2rem;
		margin-top: -.1rem;
	}
	.buton{	margin-left: 8rem;
		display: flex;
		padding: 2rem;
		margin-top: 3rem;
		width: 30%;
		height: 1vh;

	}
	.btnyazi{
		margin-top: -1rem;
	}
	
	
}	

.oyunp{
	text-align: center;
	margin-left: 1.5rem;
	margin-top: 5rem;
}